.instagram{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;
    padding: 40px 0 0 40px;
}
.instagram .insta-id{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin-right: 140px; */
    margin-top: 20px;

}
.instagram .insta-id span{
    font-family: rokhfanum;
    font-size: 44px;
    letter-spacing: 2;
    font-weight: 500;
}
.instagram .insta-id span:first-child{
    color: var(--color-coffee);
}
.instagram .insta-id span:last-child{
    color: var(--color-242424);

}   
.instagram .insta-id p{
    font-family: rokhfanum;
    color: var(--color-font);
    font-weight: 600;
    font-size: 44px;
}



@media (max-width: 850px) {
    .instagram .insta-id p{
        font-size: 34px;
    }
    .instagram .insta-img img{
        width: 255px;
    }
}

@media (max-width: 640px) {
    .instagram .insta-img img{
        width: 235px;
    }
    .instagram .insta-id p{
        font-size: 22px;
    }
    .instagram .insta-id span{
        font-size: 24px;

    }
}

@media (max-width: 500px) {
    .instagram .insta-img img{
        width: 180px;
    }
    .instagram .insta-id p{
        font-size: 20px;
    }
    .instagram .insta-id span{
        font-size: 22px;
    }
}