body{
    background-color: var(--main-color) !important;
    padding: 0 !important;
    margin: 0 !important;
    direction: rtl;
}

a{
    text-decoration: none !important;
}
.icon-coffee{
    width: 50px;
}
.d_flex{
    display: flex;
}
/* 
.top-button{
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    background-color: #675950;
    color: var(--color-white);
    position: absolute;
    left: 2%;
    bottom: 3%;
    z-index: 998;
    display: flex;
    justify-content: center;
    position: fixed;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
} */