
.logo{
    display: flex;
    align-items: center ;
}

.logo svg{
    width: 43px;
    
}

.logo h4{
    font-family: RokhFaNum;
    font-weight: 900 !important;
    font-size: 28px;
    color: var(--color-brown) ;
    padding-top: 10px;
    letter-spacing: 3;

}
header .logo h4{
    color: var(--color-brown) !important;
    
}